<h2>Show registration</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @registration.email %>
  </li>

  <li>
    <strong>Password hash:</strong>
    <%= @registration.password_hash %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @registration.status %>
  </li>

</ul>

<%= link "Edit", to: registration_path(@conn, :edit, @registration) %>
<%= link "Back", to: registration_path(@conn, :index) %>
