@import "template/layout";
@import "common";
@import "template/container";
@import "template/header";
@import "template/footer";


/* pages */
.intro {
    & p {
        font-size: 1.3em;
    }
}
.search-form {
    & form {
        lost-flex-container: row;
        font-size: 1.3em;
        @media (--small-screen) {
            lost-flex-container: column;
        }
    }
    & button {
        padding: 10px 8px;
        line-height: 1.5;
        border: 1px solid #666;
        background: #666;
        color: #FFF;
        width: 100%;
    }
}

/* new profile, header */
.profile-steps {
    background: #333;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    & > div {
        flex: 0 0 auto;
    }
}

.profile-steps
.step {
    min-width: 250px;
    &:first-child {
        /* margin-left: 20px; */
    }
    &:last-child {
        /* margin-right: 20px; */
    }
    & .step-number {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #999;
        border-radius: 200px;
        font-size: 20px;
        background: #333;
        color: #fff;
    }
    & .step-description {
        margin-left: 10px;
        display: inline-block;
    }
    &.active .step-number {
        background: #f18787;
    }
}

.new-profile-form {
    text-align: center;
    & .form-group, & button {
        margin-top: 20px;
    }
}

