.input-block {
    flex: 0 0 300px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
.input-group {
    position: relative;
    display: table;
    box-sizing: border-box;
    border-collapse: separate;

    & .input-group-addon:first-child {
        border-right: 0;
    }
    & .input-group-addon:last-child{
        border-left: 0;
    }
    & .input-group-addon {
        vertical-align: middle;
        display: table-cell;
        padding: 10px 8px;
        border: 1px solid #ccc;
        width: 1%;
    }
    & input, select {
        padding: 10px 8px;
        line-height: 1.5;
        width: 100%;
        z-index: 2;
        float: left;
        box-sizing: inherit;
        position: relative;
        border: 1px solid #ccc;
    }

    & .select2-selection {
        height: 50px;
        border-radius: 0;
        border-color: #ccc;
    }

    & .select2-selection__rendered {
        line-height: 50px !important;
    }

    & .select2 {
        width: 100%;
        min-width: 200px;
        float: left;
    }

    & .select2-selection__arrow {
        height: 50px !important;
    }

    &:before, &:after {
        box-sizing: inherit;
    }
}
.form-group {
    & label {
        display: inline-block;
        min-width: 100px;
        text-align: left;
    }
}

button, select {
    border: 1px solid #aaa;
    padding: 6px 8px;
    color: #555;
    border-radius: 2px;
    &:hover,&:focus {
        background: #fff;
        cursor: pointer;
    }
}

input {
    border: 1px solid #aaa;
    padding: 6px 8px;
    color: #555;
    border-radius: 2px;
    &:focus {
        border-color: #777;
    }
}
