:root {
    --header-height: 200px;
    --footer-height: 200px;
}

@lost flexbox flex;

@custom-media --large-screen (width >= 1200px);
@custom-media --medium-screen (width < 1200px);
@custom-media --small-screen (width  <= 500px);

html {
    height: 100%;
}
body {
    line-height: 1.5;
    color: #333;
    lost-flex-container: column;
    height: 100%;
}
header {
    flex: 0 0 auto;
}
.container {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}
